@charset "UTF-8";
/**
 *  Rows
 *
 *  @copyright Copyright (c) 2018, Bit&Black
 *  @author Tobias Köngeter <tobias.koengeter@bitandblack.com>
 *  @link http://www.bitandblack.com
 */
.bb-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.bb-row .bb-row__cell {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media all {
  .bb-row .bb-row__cell--cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1,
  .bb-row .bb-row__cell--leftMarginCell1:first-child,
  .bb-row .bb-row__cell--leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1,
  .bb-row .bb-row__cell--rightMarginCell1:last-child,
  .bb-row .bb-row__cell--rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2,
  .bb-row .bb-row__cell--leftMarginCell2:first-child,
  .bb-row .bb-row__cell--leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2,
  .bb-row .bb-row__cell--rightMarginCell2:last-child,
  .bb-row .bb-row__cell--rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3,
  .bb-row .bb-row__cell--leftMarginCell3:first-child,
  .bb-row .bb-row__cell--leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3,
  .bb-row .bb-row__cell--rightMarginCell3:last-child,
  .bb-row .bb-row__cell--rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4,
  .bb-row .bb-row__cell--leftMarginCell4:first-child,
  .bb-row .bb-row__cell--leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4,
  .bb-row .bb-row__cell--rightMarginCell4:last-child,
  .bb-row .bb-row__cell--rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5,
  .bb-row .bb-row__cell--leftMarginCell5:first-child,
  .bb-row .bb-row__cell--leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5,
  .bb-row .bb-row__cell--rightMarginCell5:last-child,
  .bb-row .bb-row__cell--rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6,
  .bb-row .bb-row__cell--leftMarginCell6:first-child,
  .bb-row .bb-row__cell--leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6,
  .bb-row .bb-row__cell--rightMarginCell6:last-child,
  .bb-row .bb-row__cell--rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7,
  .bb-row .bb-row__cell--leftMarginCell7:first-child,
  .bb-row .bb-row__cell--leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7,
  .bb-row .bb-row__cell--rightMarginCell7:last-child,
  .bb-row .bb-row__cell--rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8,
  .bb-row .bb-row__cell--leftMarginCell8:first-child,
  .bb-row .bb-row__cell--leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8,
  .bb-row .bb-row__cell--rightMarginCell8:last-child,
  .bb-row .bb-row__cell--rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9,
  .bb-row .bb-row__cell--leftMarginCell9:first-child,
  .bb-row .bb-row__cell--leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9,
  .bb-row .bb-row__cell--rightMarginCell9:last-child,
  .bb-row .bb-row__cell--rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10,
  .bb-row .bb-row__cell--leftMarginCell10:first-child,
  .bb-row .bb-row__cell--leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10,
  .bb-row .bb-row__cell--rightMarginCell10:last-child,
  .bb-row .bb-row__cell--rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11,
  .bb-row .bb-row__cell--leftMarginCell11:first-child,
  .bb-row .bb-row__cell--leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11,
  .bb-row .bb-row__cell--rightMarginCell11:last-child,
  .bb-row .bb-row__cell--rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1 {
    order: 1;
    -webkit-order: 1;
  }
  .bb-row .bb-row__cell--order2 {
    order: 2;
    -webkit-order: 2;
  }
  .bb-row .bb-row__cell--order3 {
    order: 3;
    -webkit-order: 3;
  }
  .bb-row .bb-row__cell--order4 {
    order: 4;
    -webkit-order: 4;
  }
  .bb-row .bb-row__cell--order5 {
    order: 5;
    -webkit-order: 5;
  }
  .bb-row .bb-row__cell--order6 {
    order: 6;
    -webkit-order: 6;
  }
  .bb-row .bb-row__cell--order7 {
    order: 7;
    -webkit-order: 7;
  }
  .bb-row .bb-row__cell--order8 {
    order: 8;
    -webkit-order: 8;
  }
  .bb-row .bb-row__cell--order9 {
    order: 9;
    -webkit-order: 9;
  }
  .bb-row .bb-row__cell--order10 {
    order: 10;
    -webkit-order: 10;
  }
  .bb-row .bb-row__cell--order11 {
    order: 11;
    -webkit-order: 11;
  }
  .bb-row .bb-row__cell--order12 {
    order: 12;
    -webkit-order: 12;
  }
}

@media all and (min-width: 480px) {
  .bb-row .bb-row__cell--cell1\28x-small\29 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2\28x-small\29 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3\28x-small\29 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4\28x-small\29 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5\28x-small\29 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6\28x-small\29 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7\28x-small\29 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8\28x-small\29 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9\28x-small\29 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10\28x-small\29 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11\28x-small\29 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12\28x-small\29 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell1\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell1\28x-small\29:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell1\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell1\28x-small\29:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell2\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell2\28x-small\29:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell2\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell2\28x-small\29:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell3\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell3\28x-small\29:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell3\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell3\28x-small\29:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell4\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell4\28x-small\29:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell4\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell4\28x-small\29:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell5\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell5\28x-small\29:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell5\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell5\28x-small\29:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell6\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell6\28x-small\29:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell6\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell6\28x-small\29:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell7\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell7\28x-small\29:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell7\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell7\28x-small\29:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell8\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell8\28x-small\29:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell8\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell8\28x-small\29:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell9\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell9\28x-small\29:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell9\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell9\28x-small\29:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell10\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell10\28x-small\29:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell10\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell10\28x-small\29:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11\28x-small\29,
  .bb-row .bb-row__cell--leftMarginCell11\28x-small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell11\28x-small\29:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11\28x-small\29,
  .bb-row .bb-row__cell--rightMarginCell11\28x-small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell11\28x-small\29:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1\28x-small\29 {
    order: 1;
    -webkit-order: 1;
  }
  .bb-row .bb-row__cell--order2\28x-small\29 {
    order: 2;
    -webkit-order: 2;
  }
  .bb-row .bb-row__cell--order3\28x-small\29 {
    order: 3;
    -webkit-order: 3;
  }
  .bb-row .bb-row__cell--order4\28x-small\29 {
    order: 4;
    -webkit-order: 4;
  }
  .bb-row .bb-row__cell--order5\28x-small\29 {
    order: 5;
    -webkit-order: 5;
  }
  .bb-row .bb-row__cell--order6\28x-small\29 {
    order: 6;
    -webkit-order: 6;
  }
  .bb-row .bb-row__cell--order7\28x-small\29 {
    order: 7;
    -webkit-order: 7;
  }
  .bb-row .bb-row__cell--order8\28x-small\29 {
    order: 8;
    -webkit-order: 8;
  }
  .bb-row .bb-row__cell--order9\28x-small\29 {
    order: 9;
    -webkit-order: 9;
  }
  .bb-row .bb-row__cell--order10\28x-small\29 {
    order: 10;
    -webkit-order: 10;
  }
  .bb-row .bb-row__cell--order11\28x-small\29 {
    order: 11;
    -webkit-order: 11;
  }
  .bb-row .bb-row__cell--order12\28x-small\29 {
    order: 12;
    -webkit-order: 12;
  }
}

@media all and (min-width: 736px) {
  .bb-row .bb-row__cell--cell1\28small\29 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2\28small\29 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3\28small\29 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4\28small\29 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5\28small\29 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6\28small\29 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7\28small\29 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8\28small\29 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9\28small\29 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10\28small\29 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11\28small\29 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12\28small\29 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1\28small\29,
  .bb-row .bb-row__cell--leftMarginCell1\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell1\28small\29:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1\28small\29,
  .bb-row .bb-row__cell--rightMarginCell1\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell1\28small\29:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2\28small\29,
  .bb-row .bb-row__cell--leftMarginCell2\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell2\28small\29:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2\28small\29,
  .bb-row .bb-row__cell--rightMarginCell2\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell2\28small\29:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3\28small\29,
  .bb-row .bb-row__cell--leftMarginCell3\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell3\28small\29:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3\28small\29,
  .bb-row .bb-row__cell--rightMarginCell3\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell3\28small\29:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4\28small\29,
  .bb-row .bb-row__cell--leftMarginCell4\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell4\28small\29:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4\28small\29,
  .bb-row .bb-row__cell--rightMarginCell4\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell4\28small\29:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5\28small\29,
  .bb-row .bb-row__cell--leftMarginCell5\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell5\28small\29:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5\28small\29,
  .bb-row .bb-row__cell--rightMarginCell5\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell5\28small\29:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6\28small\29,
  .bb-row .bb-row__cell--leftMarginCell6\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell6\28small\29:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6\28small\29,
  .bb-row .bb-row__cell--rightMarginCell6\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell6\28small\29:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7\28small\29,
  .bb-row .bb-row__cell--leftMarginCell7\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell7\28small\29:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7\28small\29,
  .bb-row .bb-row__cell--rightMarginCell7\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell7\28small\29:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8\28small\29,
  .bb-row .bb-row__cell--leftMarginCell8\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell8\28small\29:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8\28small\29,
  .bb-row .bb-row__cell--rightMarginCell8\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell8\28small\29:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9\28small\29,
  .bb-row .bb-row__cell--leftMarginCell9\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell9\28small\29:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9\28small\29,
  .bb-row .bb-row__cell--rightMarginCell9\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell9\28small\29:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10\28small\29,
  .bb-row .bb-row__cell--leftMarginCell10\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell10\28small\29:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10\28small\29,
  .bb-row .bb-row__cell--rightMarginCell10\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell10\28small\29:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11\28small\29,
  .bb-row .bb-row__cell--leftMarginCell11\28small\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell11\28small\29:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11\28small\29,
  .bb-row .bb-row__cell--rightMarginCell11\28small\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell11\28small\29:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1\28small\29 {
    order: 1;
    -webkit-order: 1;
  }
  .bb-row .bb-row__cell--order2\28small\29 {
    order: 2;
    -webkit-order: 2;
  }
  .bb-row .bb-row__cell--order3\28small\29 {
    order: 3;
    -webkit-order: 3;
  }
  .bb-row .bb-row__cell--order4\28small\29 {
    order: 4;
    -webkit-order: 4;
  }
  .bb-row .bb-row__cell--order5\28small\29 {
    order: 5;
    -webkit-order: 5;
  }
  .bb-row .bb-row__cell--order6\28small\29 {
    order: 6;
    -webkit-order: 6;
  }
  .bb-row .bb-row__cell--order7\28small\29 {
    order: 7;
    -webkit-order: 7;
  }
  .bb-row .bb-row__cell--order8\28small\29 {
    order: 8;
    -webkit-order: 8;
  }
  .bb-row .bb-row__cell--order9\28small\29 {
    order: 9;
    -webkit-order: 9;
  }
  .bb-row .bb-row__cell--order10\28small\29 {
    order: 10;
    -webkit-order: 10;
  }
  .bb-row .bb-row__cell--order11\28small\29 {
    order: 11;
    -webkit-order: 11;
  }
  .bb-row .bb-row__cell--order12\28small\29 {
    order: 12;
    -webkit-order: 12;
  }
}

@media all and (min-width: 980px) {
  .bb-row .bb-row__cell--cell1\28medium\29 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2\28medium\29 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3\28medium\29 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4\28medium\29 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5\28medium\29 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6\28medium\29 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7\28medium\29 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8\28medium\29 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9\28medium\29 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10\28medium\29 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11\28medium\29 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12\28medium\29 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell1\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell1\28medium\29:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell1\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell1\28medium\29:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell2\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell2\28medium\29:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell2\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell2\28medium\29:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell3\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell3\28medium\29:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell3\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell3\28medium\29:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell4\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell4\28medium\29:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell4\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell4\28medium\29:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell5\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell5\28medium\29:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell5\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell5\28medium\29:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell6\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell6\28medium\29:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell6\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell6\28medium\29:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell7\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell7\28medium\29:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell7\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell7\28medium\29:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell8\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell8\28medium\29:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell8\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell8\28medium\29:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell9\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell9\28medium\29:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell9\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell9\28medium\29:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell10\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell10\28medium\29:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell10\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell10\28medium\29:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11\28medium\29,
  .bb-row .bb-row__cell--leftMarginCell11\28medium\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell11\28medium\29:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11\28medium\29,
  .bb-row .bb-row__cell--rightMarginCell11\28medium\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell11\28medium\29:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1\28medium\29 {
    order: 1;
    -webkit-order: 1;
  }
  .bb-row .bb-row__cell--order2\28medium\29 {
    order: 2;
    -webkit-order: 2;
  }
  .bb-row .bb-row__cell--order3\28medium\29 {
    order: 3;
    -webkit-order: 3;
  }
  .bb-row .bb-row__cell--order4\28medium\29 {
    order: 4;
    -webkit-order: 4;
  }
  .bb-row .bb-row__cell--order5\28medium\29 {
    order: 5;
    -webkit-order: 5;
  }
  .bb-row .bb-row__cell--order6\28medium\29 {
    order: 6;
    -webkit-order: 6;
  }
  .bb-row .bb-row__cell--order7\28medium\29 {
    order: 7;
    -webkit-order: 7;
  }
  .bb-row .bb-row__cell--order8\28medium\29 {
    order: 8;
    -webkit-order: 8;
  }
  .bb-row .bb-row__cell--order9\28medium\29 {
    order: 9;
    -webkit-order: 9;
  }
  .bb-row .bb-row__cell--order10\28medium\29 {
    order: 10;
    -webkit-order: 10;
  }
  .bb-row .bb-row__cell--order11\28medium\29 {
    order: 11;
    -webkit-order: 11;
  }
  .bb-row .bb-row__cell--order12\28medium\29 {
    order: 12;
    -webkit-order: 12;
  }
}

@media all and (min-width: 1280px) {
  .bb-row .bb-row__cell--cell1\28large\29 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2\28large\29 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3\28large\29 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4\28large\29 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5\28large\29 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6\28large\29 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7\28large\29 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8\28large\29 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9\28large\29 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10\28large\29 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11\28large\29 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12\28large\29 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1\28large\29,
  .bb-row .bb-row__cell--leftMarginCell1\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell1\28large\29:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1\28large\29,
  .bb-row .bb-row__cell--rightMarginCell1\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell1\28large\29:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2\28large\29,
  .bb-row .bb-row__cell--leftMarginCell2\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell2\28large\29:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2\28large\29,
  .bb-row .bb-row__cell--rightMarginCell2\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell2\28large\29:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3\28large\29,
  .bb-row .bb-row__cell--leftMarginCell3\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell3\28large\29:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3\28large\29,
  .bb-row .bb-row__cell--rightMarginCell3\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell3\28large\29:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4\28large\29,
  .bb-row .bb-row__cell--leftMarginCell4\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell4\28large\29:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4\28large\29,
  .bb-row .bb-row__cell--rightMarginCell4\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell4\28large\29:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5\28large\29,
  .bb-row .bb-row__cell--leftMarginCell5\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell5\28large\29:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5\28large\29,
  .bb-row .bb-row__cell--rightMarginCell5\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell5\28large\29:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6\28large\29,
  .bb-row .bb-row__cell--leftMarginCell6\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell6\28large\29:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6\28large\29,
  .bb-row .bb-row__cell--rightMarginCell6\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell6\28large\29:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7\28large\29,
  .bb-row .bb-row__cell--leftMarginCell7\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell7\28large\29:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7\28large\29,
  .bb-row .bb-row__cell--rightMarginCell7\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell7\28large\29:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8\28large\29,
  .bb-row .bb-row__cell--leftMarginCell8\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell8\28large\29:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8\28large\29,
  .bb-row .bb-row__cell--rightMarginCell8\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell8\28large\29:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9\28large\29,
  .bb-row .bb-row__cell--leftMarginCell9\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell9\28large\29:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9\28large\29,
  .bb-row .bb-row__cell--rightMarginCell9\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell9\28large\29:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10\28large\29,
  .bb-row .bb-row__cell--leftMarginCell10\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell10\28large\29:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10\28large\29,
  .bb-row .bb-row__cell--rightMarginCell10\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell10\28large\29:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11\28large\29,
  .bb-row .bb-row__cell--leftMarginCell11\28large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell11\28large\29:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11\28large\29,
  .bb-row .bb-row__cell--rightMarginCell11\28large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell11\28large\29:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1\28large\29 {
    order: 1;
    -webkit-order: 1;
  }
  .bb-row .bb-row__cell--order2\28large\29 {
    order: 2;
    -webkit-order: 2;
  }
  .bb-row .bb-row__cell--order3\28large\29 {
    order: 3;
    -webkit-order: 3;
  }
  .bb-row .bb-row__cell--order4\28large\29 {
    order: 4;
    -webkit-order: 4;
  }
  .bb-row .bb-row__cell--order5\28large\29 {
    order: 5;
    -webkit-order: 5;
  }
  .bb-row .bb-row__cell--order6\28large\29 {
    order: 6;
    -webkit-order: 6;
  }
  .bb-row .bb-row__cell--order7\28large\29 {
    order: 7;
    -webkit-order: 7;
  }
  .bb-row .bb-row__cell--order8\28large\29 {
    order: 8;
    -webkit-order: 8;
  }
  .bb-row .bb-row__cell--order9\28large\29 {
    order: 9;
    -webkit-order: 9;
  }
  .bb-row .bb-row__cell--order10\28large\29 {
    order: 10;
    -webkit-order: 10;
  }
  .bb-row .bb-row__cell--order11\28large\29 {
    order: 11;
    -webkit-order: 11;
  }
  .bb-row .bb-row__cell--order12\28large\29 {
    order: 12;
    -webkit-order: 12;
  }
}

@media all and (min-width: 1680px) {
  .bb-row .bb-row__cell--cell1\28x-large\29 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2\28x-large\29 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3\28x-large\29 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4\28x-large\29 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5\28x-large\29 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6\28x-large\29 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7\28x-large\29 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8\28x-large\29 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9\28x-large\29 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10\28x-large\29 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11\28x-large\29 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12\28x-large\29 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell1\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell1\28x-large\29:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell1\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell1\28x-large\29:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell2\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell2\28x-large\29:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell2\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell2\28x-large\29:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell3\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell3\28x-large\29:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell3\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell3\28x-large\29:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell4\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell4\28x-large\29:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell4\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell4\28x-large\29:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell5\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell5\28x-large\29:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell5\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell5\28x-large\29:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell6\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell6\28x-large\29:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell6\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell6\28x-large\29:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell7\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell7\28x-large\29:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell7\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell7\28x-large\29:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell8\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell8\28x-large\29:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell8\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell8\28x-large\29:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell9\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell9\28x-large\29:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell9\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell9\28x-large\29:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell10\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell10\28x-large\29:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell10\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell10\28x-large\29:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11\28x-large\29,
  .bb-row .bb-row__cell--leftMarginCell11\28x-large\29:first-child,
  .bb-row .bb-row__cell--leftMarginCell11\28x-large\29:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11\28x-large\29,
  .bb-row .bb-row__cell--rightMarginCell11\28x-large\29:last-child,
  .bb-row .bb-row__cell--rightMarginCell11\28x-large\29:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1\28x-large\29 {
    order: 1;
    -webkit-order: 1;
  }
  .bb-row .bb-row__cell--order2\28x-large\29 {
    order: 2;
    -webkit-order: 2;
  }
  .bb-row .bb-row__cell--order3\28x-large\29 {
    order: 3;
    -webkit-order: 3;
  }
  .bb-row .bb-row__cell--order4\28x-large\29 {
    order: 4;
    -webkit-order: 4;
  }
  .bb-row .bb-row__cell--order5\28x-large\29 {
    order: 5;
    -webkit-order: 5;
  }
  .bb-row .bb-row__cell--order6\28x-large\29 {
    order: 6;
    -webkit-order: 6;
  }
  .bb-row .bb-row__cell--order7\28x-large\29 {
    order: 7;
    -webkit-order: 7;
  }
  .bb-row .bb-row__cell--order8\28x-large\29 {
    order: 8;
    -webkit-order: 8;
  }
  .bb-row .bb-row__cell--order9\28x-large\29 {
    order: 9;
    -webkit-order: 9;
  }
  .bb-row .bb-row__cell--order10\28x-large\29 {
    order: 10;
    -webkit-order: 10;
  }
  .bb-row .bb-row__cell--order11\28x-large\29 {
    order: 11;
    -webkit-order: 11;
  }
  .bb-row .bb-row__cell--order12\28x-large\29 {
    order: 12;
    -webkit-order: 12;
  }
}

/*# sourceMappingURL=../css/rows.map */