/**
 *  Rows
 *
 *  @copyright Copyright (c) 2018, Bit&Black
 *  @author Tobias Köngeter <tobias.koengeter@bitandblack.com>
 *  @link http://www.bitandblack.com
 */ 

$bb-rows-namespace: bb !default;

$bb-rows-gutter: 1em !default;

$bb-rows-breakpoints: (
    undefined: "", 
    x-small: 480px, 
    small: 736px,
    medium: 980px,
    large: 1280px,
    x-large: 1680px,
);


@if ($bb-rows-namespace != '') {
    $bb-rows-namespace: #{$bb-rows-namespace}-;
}

@mixin bb-rows-breakpoint($breakpoint) {
    @if map-has-key($bb-rows-breakpoints, $breakpoint) {
        @media (min-width: map-get($bb-rows-breakpoints, $breakpoint)) {
            @content;
        }
    }
}

.#{$bb-rows-namespace}row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -ms-flex-line-pack: start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin-left: -($bb-rows-gutter / 2);
    margin-right: -($bb-rows-gutter / 2);

    .#{$bb-rows-namespace}row__cell {
        flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        padding-left: ($bb-rows-gutter / 2);
        padding-right: ($bb-rows-gutter / 2);

        @each $name, $current-resolution in $bb-rows-breakpoints {
        
            $resolution-string: "";
            $resolution-name: "";
            
            @if ($current-resolution != "") {
                $resolution-string: "and (min-width: #{$current-resolution})";
                $resolution-name: \28#{$name}\29;
            } 
            
            @media all #{$resolution-string} {
            
                @for $i from 1 through 12 {
                
                    &--cell#{$i}#{$resolution-name} {
                      flex-basis: percentage((1 / 12) * $i);
                      max-width: percentage((1 / 12) * $i);
                    }
                }
                
                @for $i from 1 through 11 {
                    
                    &--leftMarginCell#{$i}#{$resolution-name},
                    &--leftMarginCell#{$i}#{$resolution-name}:first-child,
                    &--leftMarginCell#{$i}#{$resolution-name}:last-child {
                        margin-left: percentage((1 / 12) * $i);
                    }
                    
                    &--rightMarginCell#{$i}#{$resolution-name},
                    &--rightMarginCell#{$i}#{$resolution-name}:last-child,
                    &--rightMarginCell#{$i}#{$resolution-name}:first-child {
                        margin-right: percentage((1 / 12) * $i);
                    }
                }
        
                @for $i from 1 through 12 {
        
                    &--order#{$i}#{$resolution-name} {
                        order: #{$i};
                        -webkit-order: #{$i};
                    }
                }
            }
        }   
    }
}